@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser dont-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Big Shoulders Display", cursive;
  line-height: 1;
  font-weight: 400;
  color: #444;
} 

/* ---------------------------------- */
/* .container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  } */

.center-text {
    text-align: center;
}

.grid{
    display: grid;
}
.grid--2cols {
    grid-template-columns: repeat(2, 1fr);
}
.grid--3cols {
    grid-template-columns: repeat(3, 1fr);
}




/* LINKS */

.page-link:link, 
.page-link:visited {
    /*display: inline-block;*/  /*a links are not inline-blocks */
    text-decoration: none;
     /*background-color: : #151515 */
}

.page-link:hover, 
.page-link:active {
    /*background-color:  #D5966C */
} 





/* FOOTER-SECTION */