

.section-hero {
    position: relative;
    
}

.hero {
    /* width: 100%; */
}

.hero--black-bkgr {
    content: "";
    background-color: #151515;
}

.hero-img {
    width: 540px;
}

.grid--white-bkgr {
    content: "";
    background-color: #fff;
}

  .heading-XL {
    color:#fff;
    mix-blend-mode: difference;
  }


.hero-description {
    font-size: 2.2rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.button {
    display: inline-block;
    position: relative;
    overflow-x:visible;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.225rem;
    font-family: "Big Shoulders Display", cursive;
    font-size: 1.25rem;
    font-weight: 800;
    transition: background-color 300ms ease-in-out;
    padding: 1.5rem 5.5rem 1.5rem 2rem;
    background-color: #151515;
    color: #fff;
    
}

.button-icon {
display: flex;
position: absolute;
top: 0;
align-items: center;
justify-content: center;
background-color: #d5966c;
width: 3.5rem;
height: 100%;
transition: inherit;
}

.button--icon-right {
right: 0;
}
