/* HERO-SECTION */
.hero-section {
  padding:  0 9.6rem 0;
}
.grid-color-black {
  /* width: 450px; */
  content: "";
  background-color: #151515;
}
.grid-color-white {
  /* width: 450px; */
  content: "";
  background-color: #fff;
}
.hero-img {
  width: 100%;
}

--------------------------


.container {
  position: relative;
}
.hero-flex-container {
  display: flex;
  padding: 3.6rem;

  position: absolute;
  top: 4%;
  left: 10%;
}
.heading {
  font-size: 9.6rem;
  /* line-height: 88px; */
  letter-spacing: 7px;
  font-weight: 900;
  margin-right: 36.6rem;

  text-transform: uppercase;
}
.hero--text-btn-container {
  display: flex;
  flex-direction: column;
}
.hero-body-m {
  font-family: 'Outfit', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 3.2px;
  margin-bottom: 4.8rem;
}

.btn {
  /* font-size: 2rem;
  padding: 1.6rem 3.2rem 1.6rem;
  */
display: inline-block;
background-color: #151515;
color: #fff; 
text-decoration: none;
font-size: 2rem;
font-weight: 600;
padding: 1.6rem 3.2rem;
/* border-radius: 9px; */
border: none;
cursor: pointer;
font-family: inherit;
text-transform: uppercase;

}

.btn-color {
  display: inline-flex;
  background-color: #d5966c;
  padding: 1.6rem 3.2rem;
}

/* GALLERY-SECTION */

/* -------------PAGE 2-------------- */

/* MAPP-SECTION */

/* LOCATION-SECTION */
